<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/globalTheme">
        <activity android:name=".ImportantTasks"></activity>
        <activity android:name=".DueTomorrow" />
        <activity android:name=".DueToday" />
        <activity
            android:name=".ListActivity"
            android:theme="@style/globalTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomePage"
            android:theme="@style/globalTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddUsername"
            android:theme="@style/globalTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Notification Pending Alarm Receiver-->
        <receiver android:name="AlarmHelpers.AlarmReceiver"/>

        <!--Notification Action Pending Alarm Receiver-->
        <receiver android:name="AlarmHelpers.NotificationActionReceiver"/>

        <!--Boot Completed Alarm Receiver-->
        <receiver android:name="AlarmHelpers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>